strict-ssl=false
package-lock=true
ignore-scripts=false
update-notifier=false
foreground-scripts=true
side-effects-cache=false
enable-pre-post-scripts=true
strict-peer-dependencies=false
scripts-prepend-node-path=true
registry=https://registry.npmjs.org/
